.navbar{
  height: 16vh;
 width: 100%;
  color: white;
  
  display: flex;
  flex-direction: column;
 

}
.navbar-top{
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;

}
.navbar-accountdetails{
  display: flex;
  justify-content: space-evenly;
  gap: 4vw;
  color: white;
  margin-right: 2vw;
  
  
}
.social-media-details{
  width: 22vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

  
}
.navbar-bottom{
  height: 65%;
  width: 100%;
  display: flex;
 justify-content: center;
 align-items: center;
 background-color: white;
 
 
 

}
.name-cart-navbar{
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  font-weight: 600;
  opacity: 0.8;
  padding-left: 10px;
  padding-right:5px ;
  
}
.menuebtn{
  display:none;
}
.navbar-logo{
  

  text-decoration: solid;
  color: white;
  font-size: 3vw;
  font-weight: 550;

}
.logo-link{
  text-decoration: none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
.navbar-top-link{
  text-decoration: none;
  color: white;
  
}
 .shopStyle{
  color: black ;
  font-size: 2.3rem;
  font-weight: 600;
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
}
.swiftlyStyle{
    color: black;
    font-size: 2.3rem;
    font-weight: 600;
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;

} 
.navbar-top-link:hover{
 
  border-bottom: 1px solid white;

}
.cart-link{
  text-decoration: none;
  color: black;
  font-size: 2rem;

  
  
}

.cartCount{
  font-size: 1rem;
 position: relative;

 right: 26px;
 bottom: 11px;
}
.cartIcon{
  font-size: 2.6rem;
 
}

/* @media (max-width:600px){
   

} */
