.navbar{
  height: 20vh;

  border-top: 3px solid black;
}
.navbar-top{
   height: 4vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   top: 0px;
   font-size: 18px
}
.navbar-accountdetails{
  display: flex;
  justify-content: space-evenly;
  gap: 4vw;
  
}

.navbar-bottom{
   height: 13vh;
   background-color: rgb(24, 23, 23);
   display: flex;
   justify-content: space-between;
   align-items: center;
  
   font-size: 2vw;
   padding-left: 1vw;
   padding-right: 1vw;
}
.menuebtn{
  display:none;
}
.navbar-logo{
  
  text-transform: uppercase;
  text-decoration: solid;
  color: white;
  font-size: 2vw;
  font-weight: 550;
  text-shadow: 2px 2px blue;
}
.search-input{
   font-size: 2vw;
}
.navbar-top-link{
  text-decoration: none;
  color: black;
  
}
.navbar-top-link:hover{
 
  border-bottom: 1px solid black;

}
.navbar-bottom-link{
  text-decoration: none;
  color: white;
  
}
.navbar-bottom-link:hover{
 
  border-bottom: 1px solid white;

}
.modal-navbar{
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 5vw;
  border: 2px solid black
}

@media (max-width:600px){
   .navbar{
     height: 7vh
   }
    .navbar-top{
           display: none;
    }
    .navbar-bottom{
      height: 8vh;
      background-color: rgb(24, 23, 23);
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      
    }
    .navbar-bottom-link{
      display: none;
    }
    .navbar-logo{
      font-size: 5vw;
      margin-right:35vw;
     
    }
    .menuebtn{
      display: block;
      color: white;
      font-size: 5vw;
      font-weight: 500; 
     

    }

}
