
h2{
    text-align: center;
    font-size: 2rem;
    padding: 10px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:#eee;
  }
  
  .container-card{
    height: 450px;
    width: 300px;
    margin: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .cotainer-card-Image{
    height: 310px;
    width: 90%;
    
    border-radius: 8px;
  }
  
  .container-cart-Details{
    
    height: 100px;
    text-align: center;
    width: 100%;
  }
  
  .container-cart-Details-headding{
    font-size: 13px;
    font-weight: 400;
    padding: 5px;
    
  }
  
  .container-cart-Details-para{
    font-size: 15px;
    font-weight: 600;
    padding: 5px;
   
  }
  .container-card-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container-addToCart-addBtn{
    height: 35px;
    width: 100px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .container-addToCart-buyBtn{
    height: 35px;
    width: 100px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  
  }
  .container-addToCart-addBtn:active,
  .container-addToCart-buyBtn:active{
    background-color: #8db9e8;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .container-card{
      width: 45%;
    }
  }
  
  @media screen and (max-width: 500px) {
    .container-card{
      width: 100%;
    }
  }