
.cart-container{
   
    padding: 20px;
   
    font-size: 2rem;
    font-weight: 600;

}
.topCartSection{
    height: 100px;
   color: rgb(44, 43, 43);
   background-color: #eee;
    padding: 10px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   


}
.mainCartSection{
      height: 820px;
      padding: 10px;
      margin: 20px;
      
      background-color: #eee;
     
      
}
.mainCartSection-cart{
    height: 770px;
    margin: 30px;
    background-color: white;
    
    overflow-y: scroll;
}
.mainCartSection-item{
    height: 200px;
   margin: 30px;
   padding: 10px;
    color: black;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.productImg{
    height: 120px;
    width: 90px;
    
}
.productName{
    height: 120px;
    width: 250px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productPrice{
    height: 120px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.addMinusQuanity{
    height: 120px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.spanStyle{
    color: black;
    font-size: 2rem;
    margin: 5px;
    cursor: pointer;
}
.minusQuanityInput{
    height: 30px;
    width: 60px;
    border: none;
    text-align: center;
    color: black;
    font-size: 1rem;

}
.productName{
    height: 90px;
    width: 250px;
}
.removeItem{
    height: 120px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.removeItemBtn{
    font-size: 1.5rem;
    border: none;
    color: rgb(44, 43, 43);
    cursor: pointer;
}

.bottomCartSection{
    color: rgb(44, 43, 43);
    background-color: #eee;
    height: 100px;
    padding: 10px ;
    margin: 20px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.bottomCartSection-btn{
    font-size: 1.5rem;
    padding: 10px;
    border: none;
    background-color: rgb(44, 43, 43);
    color: white;
    cursor: pointer;
    
}
.bottomCartSection-btn:active{
    background-color: black;
}

