
.cart-container{
    height: calc(100% -58vh);
    padding: 20px;
   
    font-size: 2rem;
    font-weight: 600;

}
.topCartSection{
    height: 100px;
   color: rgb(44, 43, 43);
   background-color: #eee;
    padding: 10px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   


}
.mainCartSection{
      height: 820px;
      padding: 10px;
      margin: 20px;
      
      background-color: #eee;
  
     
      
}
.mainCartSection-cart{
    height: 770px;
    margin: 30px;
    background-color: #eee;
    
    overflow-y: scroll;
    
}
.mainCartSection-item{
    height: 420px;
     
   margin-bottom: 50px;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.productInfo{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
     justify-content: space-evenly;
     align-items: center;
     
}
.productImg{
    height: 40%;
    width: 120px;
    
}
.productName{
    height: 120px;
    width: 90%; 
    font-size: 1rem;
    text-align: center;
    display: flex;
    color: rgb(67, 64, 64);
    font-weight: bold;
    justify-content: center;
    align-items: center;
   
}

.productPrice{
    /* height: 120px;
    width: 130px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 5px;
    color: rgb(43, 41, 41);
    font-weight: bold;
}
.addMinusQuanity{
    height: 120px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.spanStyle{
    color: black;
    font-size: 2rem;
    margin: 5px;
    cursor: pointer;
}
.minusQuanityInput{
    height: 30px;
    width: 60px;
    border: none;
    text-align: center;
    color: black;
    font-size: 1rem;

}
/* .productName{
    height: 90px;
    width: 250px;
} */
.removeItem{
    /* height: 120px;
    width: 130px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    cursor: pointer;
   
}


.bottomCartSection{
    color: rgb(44, 43, 43);
    background-color: #eee;
    height: 100px;
    padding: 10px ;
    margin: 20px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.bottomCartSection-btn{
    font-size: 1.5rem;
    padding: 10px;
    border: none;
    background-color: rgb(44, 43, 43);
    color: white;
    cursor: pointer;
    
}
.bottomCartSection-btn:active{
    background-color: black;
}

@media (min-width: 768px) { 
    .mainCartSection-item{
        height: 200px;
       margin: 30px;
       padding: 10px;
        color: black;
        background-color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .productImg{
        height: 90px;
        width:180px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .productInfo{
        width: 100%;
        display: flex;
        flex-direction: row;
         
         justify-content: space-evenly;
         align-items: center;
         
    }
    .productName{
        height: 120px;
        width: 300px; 
        font-size: 1rem;
        text-align: center;
        display: flex;
        color: rgb(67, 64, 64);
        font-weight: bold;
        justify-content: center;
        align-items: center;
       
    }
     

}
